#resultado{
  color:#FF6666;
}
#resultado2{
  color:#FF6666;
}
#resultado3{
  color:#FF6666;
}
#resultado4{
  color:#FF6666;
}
#resultado5{
  color:#FF6666;
}
#resultado6{
  color:#FF6666;
}
#resultado7{
  color:#FF6666;
}
#resultado71{
  color:#FF6666;
}
#resultado8{
  color:#FF6666;
}
#resultado9{
  color:#FF6666;
}
#resultado10{
  color:#FF6666;
}
